@charset "utf-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    /*height:100%;*/
}
body{
    background-image: linear-gradient(to right,#C7FFED,#008F8C);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #003d3c98;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    text-align: center;
    color: #023535;
    text-shadow: 1px 1px 2px #0c3a3a;
}
h2{
color: #015958;
}
p{
    text-align: justify;
}
